<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Optional location can be sent so that suggestions are more accurate to where you currently are.</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Provides the ability to answer questions about your Apple Home</string>
</dict>
</plist>
